*.o
*.dylib
*.xcuserdatad
*.xcworkspace
.DS_Store
build
*.exe
*.opensdf
*.sdf
.vs
Release
*.pkg
*.so
*.pkg
.idea
.idea/codeStyles/*.xml
.idea/*.xml
.idea/*.iml
*.VC.db
*.user
*.xcuserdatad
.DS_Store
build
*.b#*
*.s#*
*.zip
*.ZIP
*.epf
*.job
*.pro
*.lst
*.tmp

